% Materialsammlung
% Naomi Tereza Salmon

# Bildtafeln


Bilder aus dem PhD.

---

{{#Bilder}}

- title: {{{title}}}
- filename: {{{filename}}}
- media-type: {{{media-type}}}
- copyright: {{{copyright}}}
- source: {{{source}}}
- source-url: {{{source-url}}}

---
{{!\pagebreak}}

{{/Bilder}}
