body {
	color: #111;
	font-size: 16px;
	font-family: "Droid serif", "Georgia", sans-serif;
	width: 99%;
	height: auto;
}
body > section, body > blockquote, body > hr,
body > header {
	width: 40em;
	margin-left: 24em;
}

//

.editorial-content  {
	background-color: lightsalmon;
}

//

#TOC {
	position: fixed;
	width: 20em;
	height: 100%;
	left: 0;
	top: 0;
	overflow: scroll;
	background-color: 
	white;
	box-shadow: inset -2px 0px 5px rgba(0,0,0,0.25);
	padding-right: 1em;
}


p, td, div {
	line-height: 1.4em;
	word-wrap: break-word;
}

hr {
	border: solid;
}

/* LINKS */

a:-webkit-any-link {
	color: #111;
	text-decoration: none;
	cursor: hand;
}

.footnoteRef {
vertical-align: super;
font-size: smaller;
}
/* HEADINGS */

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans", "Helvetica Ltd", "Helvetica Neue", "Helvetica", serif;
	border-bottom: solid 
	black 0.33em;
	padding-bottom: 0.33em;
}

.title {
	text-align: center;
	padding-top: 1em;
}

.author {
	border: none;
	padding-bottom: 1em;
	text-align: center;
	font-weight: normal; 
	text-transform: uppercase;
	font-family: "Droid serif", "Georgia", sans-serif;
}
/* QUOTE CHARS */

q { quotes: "„" "“" "‚" "’"; !important }

/* LISTS */

ul, ul * {
	line-height: 1.5em; 
	list-style-position: outside;
}

ul {
	-webkit-padding-start: 1.5em;
}

ul li { 
	font-family: "Droid Sans", "Helvetica Ltd", "Helvetica Neue", "Helvetica", serif;
	font-size: 1.1em;
}
ul li ul li { 
	font-weight: normal;
	font-family: "Droid serif", "Georgia", sans-serif;
	font-size: 0.85em;
}



/* Table of Contents */


#TOC * {
	line-height: 1.5em; 
	list-style-position: outside;
	list-style: none;
}

#TOC ul {
	-webkit-padding-start: 1.25em;

}

#TOC > ul:before {
	content: "Inhaltsverzeichnis\:";
	font-weight: normal;
	text-transform: uppercase;

}

.toc-section-number { 
	font-weight: normal;
	background-color: rgba(0,0,0,0.05);
	padding: 0 0.25em;
	border: solid 1px rgba(0,0,0,0.1);
	border-radius: 0.33em;
}

#TOC ul li { 
	font-weight: bold;
	font-family: "Droid Sans", "Helvetica Ltd", "Helvetica Neue", "Helvetica", serif;
	font-size: 1.1em;
}
#TOC ul li ul li { 
	font-weight: normal;
	font-family: "Droid serif", "Georgia", sans-serif;
	font-size: 0.85em;
}

/* dont show 3rd level headings in TOC */
#TOC ul li ul li ul { 
	display: none;
	visibility: hidden;
}

/*  dont show emphasized text in TOC */
#TOC nav > * > em {
	display: none;
	visibility: hidden;
}

/* #DEBUG */

q { background-color: rgba(255,220,123,0.4); }
q q { background-color: rgba(255,220,123,0.9); }